* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, 'Trebuchet MS', Arial, sans-serif;
    font-size: 16px;
}

body {
    background: url("../images/bg.jpg") top 0 left 50% no-repeat;
    background-size: cover;
    min-height: 800px;
}

.nav {
    margin: 0 auto;
    background: black;
    color: white;
    font-weight: bold;
    height: 56px;
    width: 90%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.nav ul {
    list-style: none;
    list-style-type: none;
    padding: 0 8px;
}

.nav ul li {
    float: left;    
}

.nav ul li a {
    display: block;
    height: 54px;
    text-decoration: none;
    color: white;
    line-height: 54px;
    margin: 0 4px;
}
.main {
    text-align: center;
    overflow: hidden;
}

.clear {
    float: none;
}
.main h1 {
    font-size: 8em;
    color: white;
    margin-top: 1.2em;
    text-shadow: 2px 2px 4px #333;
    amination: shake 1s ease-in-out 0s infinite alternate;
    -webkit-animation: shake 1s ease-in-out 0s infinite alternate;
    -moz-animation: shake 1s ease-in-out 0s infinite alternate;
    -o-animation: shake 1s ease-in-out 0s infinite alternate;
}

@keyframes shake {
    from {
        transform: translateX(-10px);
        -webkit-transform: translateX(-10px);
        -moz-transform: translateX(-10px);
        -o-transform: translateX(-10px);
    }
    to {
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -o-transform: translateX(10px);
    }
}
@-webkit-keyframes shake {
    from {
        transform: translateX(-10px);
        -webkit-transform: translateX(-10px);
        -moz-transform: translateX(-10px);
        -o-transform: translateX(-10px);
    }
    to {
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -o-transform: translateX(10px);
    }
}
@-moz-keyframes shake {
    from {
        transform: translateX(-10px);
        -webkit-transform: translateX(-10px);
        -moz-transform: translateX(-10px);
        -o-transform: translateX(-10px);
    }
    to {
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -o-transform: translateX(10px);
    }
}


.main span {
    font-size: 2.5em;
    color: white;
    text-shadow: 4px 2px 2px #333;
}

.hidden {
    display: none;
}

.download {
    margin-top: 64px;
}

.download a {
    position: relative;
    top: 0px;
    transition: top .35s ease-out;
    -webkit-transition: top .35s ease-out;
    -moz-transition: top .35s ease-out;
    -o-transition: top .35s ease-out;
}

.download a:hover {
    top: 6px;
}

.screenshot {
    text-align: center;
    margin-top: 80px;
}

.screenshot img {
    border: #fff 4px solid;
    width: auto;
    height: 180px;
    max-width: 90%;
    transition: border .5s ease-out, box-shadow .5s ease-out;
    -webkit-transition: border .5s ease-out, box-shadow .5s ease-out;
    -moz-transition: border .5s ease-out;
    -o-transition: border .5s ease-out;
}

.screenshot img:hover {
    border-color: #49abff;
    box-shadow: 0px 0px 12px #49abff;
}

.footer {
    height: 64px;
    width: 100%;
    padding-top: 2em;
    text-align: center;
    font-size: 14px;
    color: #fff;
    position: fixed;
    bottom: 0px;
    background: rgba(0,0,0,0.6);
}
.footer a {
    text-decoration: none;
    color: gray;
}
